<html>
  <head>
    <title>CARS-SITE</title>
    <script language="javascript">
      function ceva()
      {
      alert("cineva!!!");
      }
    </script>
  </head>
  <body onload="ceva();">
    Vine si restul
  </body>
</html>
