<html>
<head>
<style type='text/css'>
  .admin-container { overflow: auto; padding: 5px; width: 400px; height: 200px; background: #ccc }
</style>
</head>
<body>

<!-- autovehicule -->
Autovehicule:<br>
<form action='/admin' method='GET'>
<input type='text' id='vehicle' name='vehicle'>
<input type='hidden' name='cmd' value='add-vehicle'>
<input type='submit' value='Adauga vehicul'>
</form>
<div class='admin-container'>
  <table>
  <!-- TMPL_LOOP vehicles -->
  <tr><td id='<!-- TMPL_VAR id -->'><a href="/admin?cmd=edit-vehicle&id=<!-- TMPL_VAR id -->"><!-- TMPL_VAR name --></a></td></tr>
  <!-- /TMPL_LOOP -->
  </table>
</div>

<br><br>


<!-- atribute -->
Atribute:<br>
<form action='/admin' method='GET'>
<input type='text' id='attribute' name='attribute'>
<select name='att-type'>
  <option value='1' selected='true'>string</option>
  <option value='2'>numar</option>
  <option value='3'>da/nu</option>
</select>
<input type='hidden' name='cmd' value='add-attribute'>
<input type='submit' value='Adauga atribut'>
</form>
<div class='admin-container'>
  <table>
  <!-- TMPL_LOOP attributes -->
  <tr><td id='<!-- TMPL_VAR id -->'><!-- TMPL_VAR name -->: <!--TMPL_VAR att-type --></td></tr>
  <!-- /TMPL_LOOP -->
  </table>
</div>

<!-- atribute la vehicule -->
<!-- TMPL_IF edit-vehicle -->
<div style='left: 450px; top: 50px; height: 600px; position: absolute; '>
  <form action='admin' method=GET'>
    <!-- TMPL_VAR edit-vehicle --><br>
    <input type='hidden' name='cmd' value='set-attributes'>
    <input type='hidden' name='id' value='<!--TMPL_VAR edit-vehicle-id -->'>
    <br>
    <div class='admin-container' style="height: 500px; ">
    <table border=1>
    <!-- TMPL_LOOP edit-vehicle-attrs -->
    <tr>
      <td style="background: #eee"><!-- TMPL_VAR att-name --></td>

      <td><!-- TMPL_IF att-bool -->
	<input type='checkbox'<!-- TMPL_IF att-checked --> checked='true'<!-- /TMPL_IF --> name='<!-- TMPL_VAR att-id -->'>
	<!-- TMPL_ELSE -->
	<input type='text' name='<!--TMPL_VAR att-id -->' value='<!-- TMPL_VAR att-value -->'>
	<!-- /TMPL_IF -->
      </td>

    </tr>
    <!-- /TMPL_LOOP -->
    </table>
    </div>
    <br>
    <input type='submit' value='Seteaza atribute'>
  </form>
</div>
<!-- /TMPL_IF -->

</body>
</html>
