
<html><head><title>Site masini</title>
    

<link href="/css/web.css" rel="stylesheet" type="text/css"/>
<link href="/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
  div { border: 1px dotted red; margin: 2px; } // debug
</style>
</head>
<body style="margin: 0; ">

  
  <h1>Alege o ma&#351;in&#259; nou&#259;</h1>
  

    <h3>Cauta:</h3>

    <input type="text" id="attribute-seek" />
    
    
    
    <div>
      Aici e atributul curent, selectat tastand sus sau alegand din cele configurate deja
    </div>
    
    <div id="attributes">
      lista de atribute selectate
    </div>
  </div>
  
  <div id="results">
    Modele gasite:</h3>
  </div>
</div>



<div id="log"></div>




    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/cars-site.js"></script>

</body></html>
